USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 3/24/2025 10:37:08 PM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HUYENCUTE\MSSQL\DATA\QLDL.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HUYENCUTE\MSSQL\DATA\QLDL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[Bmon]    Script Date: 3/24/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bmon](
	[MaBM] [nvarchar](10) NOT NULL,
	[tenBM] [nvarchar](10) NULL,
	[maKhoa] [nvarchar](10) NULL,
 CONSTRAINT [PK_Bmon_1] PRIMARY KEY CLUSTERED 
(
	[MaBM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dkmh]    Script Date: 3/24/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dkmh](
	[maLopHP] [nvarchar](10) NOT NULL,
	[maSV] [nvarchar](10) NOT NULL,
	[DiemThi] [float] NULL,
	[DiemTP] [float] NULL,
	[Diemphantram] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giaovien]    Script Date: 3/24/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giaovien](
	[magv] [nvarchar](10) NOT NULL,
	[hoten] [nvarchar](10) NULL,
	[ngaysinh] [date] NULL,
	[mabm] [nvarchar](10) NULL,
 CONSTRAINT [PK_giaovien_1] PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GVCN]    Script Date: 3/24/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GVCN](
	[maLop] [nvarchar](10) NOT NULL,
	[magv] [nvarchar](10) NOT NULL,
	[Hk] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khoa]    Script Date: 3/24/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa](
	[makhoa] [nvarchar](10) NOT NULL,
	[tenkhoa] [nvarchar](10) NULL,
 CONSTRAINT [PK_khoa] PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 3/24/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[malop] [nvarchar](10) NOT NULL,
	[tenLop] [nvarchar](10) NULL,
 CONSTRAINT [PK_Lop_1] PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lopHP]    Script Date: 3/24/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lopHP](
	[maLopHP] [nvarchar](10) NOT NULL,
	[TenLopHP] [nvarchar](10) NULL,
	[HK] [int] NULL,
	[maMon] [nvarchar](10) NULL,
	[maGV] [nvarchar](10) NULL,
 CONSTRAINT [PK_lopHP] PRIMARY KEY CLUSTERED 
(
	[maLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lopsv]    Script Date: 3/24/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lopsv](
	[maLop] [nvarchar](10) NOT NULL,
	[maSV] [nvarchar](10) NOT NULL,
	[ChucVu] [nvarchar](10) NULL,
 CONSTRAINT [PK_lop11] PRIMARY KEY CLUSTERED 
(
	[maSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 3/24/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[mamon] [nvarchar](10) NOT NULL,
	[Tenmon] [nvarchar](10) NULL,
	[STC] [int] NULL,
 CONSTRAINT [PK_MonHoc_1] PRIMARY KEY CLUSTERED 
(
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinhvien]    Script Date: 3/24/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[masv] [nvarchar](10) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[Ngaysinh] [date] NULL,
 CONSTRAINT [PK_sinhvien] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_dkmh_2]    Script Date: 3/24/2025 10:37:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_dkmh_2] ON [dbo].[dkmh]
(
	[maLopHP] ASC,
	[maSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_giaovien]    Script Date: 3/24/2025 10:37:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_giaovien] ON [dbo].[giaovien]
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_]    Script Date: 3/24/2025 10:37:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_] ON [dbo].[GVCN]
(
	[maLop] ASC,
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GVCN_1]    Script Date: 3/24/2025 10:37:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GVCN_1] ON [dbo].[GVCN]
(
	[maLop] ASC,
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bmon]  WITH CHECK ADD  CONSTRAINT [FK_Bmon_Bmon1] FOREIGN KEY([maKhoa])
REFERENCES [dbo].[Bmon] ([MaBM])
GO
ALTER TABLE [dbo].[Bmon] CHECK CONSTRAINT [FK_Bmon_Bmon1]
GO
ALTER TABLE [dbo].[Bmon]  WITH CHECK ADD  CONSTRAINT [FK_khoa_Bmon_maKhoa] FOREIGN KEY([maKhoa])
REFERENCES [dbo].[khoa] ([makhoa])
GO
ALTER TABLE [dbo].[Bmon] CHECK CONSTRAINT [FK_khoa_Bmon_maKhoa]
GO
ALTER TABLE [dbo].[giaovien]  WITH CHECK ADD  CONSTRAINT [FK_giaovien_giaovien] FOREIGN KEY([mabm])
REFERENCES [dbo].[giaovien] ([magv])
GO
ALTER TABLE [dbo].[giaovien] CHECK CONSTRAINT [FK_giaovien_giaovien]
GO
ALTER TABLE [dbo].[GVCN]  WITH CHECK ADD  CONSTRAINT [FK_Lop_GVCN_maLop] FOREIGN KEY([maLop])
REFERENCES [dbo].[Lop] ([malop])
GO
ALTER TABLE [dbo].[GVCN] CHECK CONSTRAINT [FK_Lop_GVCN_maLop]
GO
ALTER TABLE [dbo].[lopHP]  WITH CHECK ADD  CONSTRAINT [FK_giaovien_lopHP_maGV] FOREIGN KEY([maGV])
REFERENCES [dbo].[giaovien] ([magv])
GO
ALTER TABLE [dbo].[lopHP] CHECK CONSTRAINT [FK_giaovien_lopHP_maGV]
GO
ALTER TABLE [dbo].[lopHP]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_lopHP_maMon] FOREIGN KEY([maMon])
REFERENCES [dbo].[MonHoc] ([mamon])
GO
ALTER TABLE [dbo].[lopHP] CHECK CONSTRAINT [FK_MonHoc_lopHP_maMon]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_MonHoc] FOREIGN KEY([mamon])
REFERENCES [dbo].[MonHoc] ([mamon])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_MonHoc]
GO
ALTER TABLE [dbo].[dkmh]  WITH CHECK ADD  CONSTRAINT [CK_dkmh_Diemphantram] CHECK  (([Diemphantram]>=(0) AND [Diemphantram]<=(100)))
GO
ALTER TABLE [dbo].[dkmh] CHECK CONSTRAINT [CK_dkmh_Diemphantram]
GO
ALTER TABLE [dbo].[dkmh]  WITH CHECK ADD  CONSTRAINT [CK_dkmh_DiemThi] CHECK  (([DiemThi]>=(0) AND [DiemThi]<=(10)))
GO
ALTER TABLE [dbo].[dkmh] CHECK CONSTRAINT [CK_dkmh_DiemThi]
GO
ALTER TABLE [dbo].[dkmh]  WITH CHECK ADD  CONSTRAINT [CK_dkmh_DiemTP] CHECK  (([DiemTP]>=(0) AND [DiemTP]<=(10)))
GO
ALTER TABLE [dbo].[dkmh] CHECK CONSTRAINT [CK_dkmh_DiemTP]
GO
USE [master]
GO
